<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Sobre Ele</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>História</h2>
        <p>Nascido em 1998, já era visível que Pedro era um ser humano diferenciado desde sua infância. Com apenas <em>2 dias</em> de vida, já falava mais de 4 línguas, incluindo úmbrio, que está morta. Quando completou <em>4 anos</em>, decidiu sair de sua cidade natal, Rio de Janeiro, onde vive atualmente, para levar comida e conhecimento aos mais necessitados. Foi nessa época que a fome mundial foi solucionada e a paz instaurada.</p>
        <p>Como forma de agradecimento, a ONU nomeou Violante o presidente da Terra com poder para fazer o que quiser, honraria essa que foi negada pelo nosso herói, justificando que, agora com os problemas do mundo resolvidos, queria apenas viver uma vida pacata com os amigos.</p>
        <p>Hoje, com 21 anos, ele está longe dos holofotes, mas suas ações foram um marco enorme para a história. Sem ele, estariamos perdidos. Algumas pessoas o consideram o Deus da Era da Informação por conta de seu intelecto altamente superior, seu carisma exorbitante e atitudes irretocáveis.</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Curiosidades</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Altura</dt>
              <dd>1.95</dd>
              <dt>Nascimento</dt>
              <dd>3 Feb. 1998</dd>
              <dt>Morte</dt>
              <dd>Imortal</dd>
              <dt>Quantidade de idiomas falados</dt>
              <dd>6.912</dd>
              <dt>QI</dt>
              <dd>231</dd>
              <dt>Poderes</dt>
              <dd>Telequinese e Extrema Beleza</dd>
              <dt>Seguidores no Insta</dt>
              <dd>4.236.374.284 (Dados de 2019)</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>Quando o vi pela primeira vez, voltei a andar.</h3>
        <footer>-- Cleivan,
          <cite>Relatos contemporâneos,
            P. Aquatics, Spublica, 2019</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2>Administradores</h2>
    <mat-list *ngIf="leaders">
      <mat-list-item *ngFor="let leader of leaders">
        <img matListAvatar src="{{BaseURL + leader.image}}" alt={{leader.name}}>
        <h1 matLine> {{leader.name}} </h1>
        <p matLine>
          <span> {{leader.description}} </span>
        </p>
      </mat-list-item>
    </mat-list>
    <div [hidden]="leaders || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div fxFlex *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
  </div>
</div>